@import url("./normalize.css");

:root {
    /*primary - головний        */
    /*secondary - другорядний   */
    /*tertiary - третинний      */
    /*subsidiary- додатковий    */
    /*accent - акцентний        */
    /*hover -                   */
    /*success - успіх           */
    /*error - помилка           */
    /*info -                    */
    /*wsrning - помилка         */

    --color1: #000000; /*black */
    --color2: #191a23; /*dark */
    --color3: #b9ff66; /*green*/
    --color4: #f3f3f3; /*grey*/
    --color5: #ffffff; /*white*/

    /**text     ---- color*/
    --title-color-primary: #000000; /*black */

    --text-color-primary: #191a23; /*dark */
    --text-color-secondary: #ffffff; /*white*/
    --text-color-tertiary: #000000; /*black */

    --text-h2: clamp(1rem, 0.795rem + 0.568vw, 1.25rem); /** 1280 - 20px 576 - 16 px */
    --text-h4: clamp(1rem, 0.898rem + 0.284vw, 1.125rem); /** 1280 - 18px 576 - 16 px */

    --h1: clamp(2.688rem, 1.099rem + 3.314vw, 3.75rem); /** 1280 - 60px 767 - 43 px */
    --h2: clamp(2.25rem, 1.876rem + 0.78vw, 2.5rem); /** 1280 - 40px 576 - 36 px */
    --h3: clamp(1.625rem, 1.42rem + 0.568vw, 1.875rem); /** 1280 - 30px 576 - 26 px */

    /**text     ---- line-height */

    --line-h140: 1.4;
    --line-h150: 1.5;

    /**font */
    --font-family: "Space Grotesk Variable", sans-serif;

    /**background*/
    --bg-primary: #ffffff; /*white*/
    --bg-secondary: #191a23; /*dark */
    --bg-tertiary: #f3f3f3; /*grey*/
    --bg-subsidiary: #b9ff66; /*green*/

    /** button / link/ hover */
    --btn-primary: #191a23; /*dark */

    --btn-hover-primary: #f3f3f3; /*grey*/

    --box-shadow: 0 5px 0 0 var(--bg-secondary);

    /** container */
    --container-width: 1440px;
    --container-padding: clamp(1.25rem, -1.997rem + 9.164vw, 6.25rem); /*1440 - 100 567 - 20*/

    --gap-32: 2rem;
    --gap-26-20: clamp(1.25rem, 0.689rem + 1.17vw, 1.625rem); /*1280 - 26 767 - 20*/
    --gap-40-30: clamp(1.875rem, 0.941rem + 1.949vw, 2.5rem); /*1280 - 40 767 - 30*/
    --gap-100-60: clamp(3.75rem, 1.705rem + 5.682vw, 6.25rem); /*1280 - 100 567 - 60*/

    --padding60-30: clamp(1.875rem, -5.625rem + 11.719vw, 3.75rem); /*1280 - 60 1024 - 30*/
    --padding50-30: clamp(1.875rem, -2.431rem + 6.944vw, 3.125rem); /*1280 - 50 992 - 30*/
    --padding60-50: clamp(3.125rem, 2.614rem + 1.42vw, 3.75rem); /*1280 - 60 1024 - 50*/
    --padding140-90: clamp(5.625rem, 3.068rem + 7.102vw, 8.75rem); /*1280 - 140 567 - 90*/
    
}

/** container & section */
.container {
    margin-inline: auto;
    max-width: var(--container-width);
    width: 100%;
    padding: 0 var(--container-padding);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-box {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-100-60);
  }

/** text */
.h1-title {
    font-weight: 500;
    font-size: var(--h1);
    color: var(--title-color-primary);
    text-wrap: balance;
}

.h1-subtitle {
    font-weight: 400;
    font-size: var(--text-h2);
    color: var(--title-color-primary);
    line-height: var(--line-h140);
}

.h2-heading {
    max-width: 62rem;
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
    row-gap: 1.875rem;
    color: var(--title-color-primary);
}

.h2-heading--margin-bottom {
    /** 1280 - 80px 576 - 30px */
    margin-bottom: clamp(1.875rem, -0.682rem + 7.102vw, 5rem);
}

.h2-title {
    font-weight: 500;
    font-size: var(--h2);
    padding: 0 0.4375rem;
    background-color: var(--bg-subsidiary);
    border-radius: 0.875rem;
    text-transform: capitalize;
    text-wrap: nowrap;
}

.h2-subtitle {
    max-width: 36.25rem;
    text-wrap: balance;
}

.h3-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: var(--h3);
    color: var(--title-color-primary);
}

.h4-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: var(--text-h4);
    color: var(--text-color-tertiary);
}

.box-shadow {
    box-shadow: var(--box-shadow);
}

@keyframes snowflake {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes float-up-down {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(12px);
  }
}

.icon-service {
    max-width: 210px;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
}

.icon-service__snowflake-1 {
    transform-origin: 77px 15px;
    animation: snowflake 6s linear infinite; /* Имя, длительность, тип, повтор */
}
.icon-service__snowflake-2 {
    transform-origin: 191px 57px;
    animation: snowflake 4s linear infinite; /* Имя, длительность, тип, повтор */
}

.icon-service__glass {
    transform-origin: 113px 52px;
    animation: float-up-down 4s ease-in-out infinite alternate;
}


@media screen and (max-width: 992px) {
    .h2-heading {
        flex-direction: column;
        text-align: center;
    }
}
@media screen and (max-width: 767px) {
    .h1-title {
        width: 70%;
        min-width: 307px;
    }
    .h1-subtitle {
        line-height: var(--line-h150);
    }
}

@media screen and (max-width: 576px) {
    .h2-title {
        text-wrap: wrap;
    }
}

