@import url("./normalize.css");

:root {
    /*primary - головний        */
    /*secondary - другорядний   */
    /*tertiary - третинний      */
    /*subsidiary- додатковий    */
    /*accent - акцентний        */
    /*hover -                   */
    /*success - успіх           */
    /*error - помилка           */
    /*info -                    */
    /*wsrning - помилка         */

    --color1: #000000; /*black */
    --color2: #191a23; /*dark */
    --color3: #b9ff66; /*green*/
    --color4: #f3f3f3; /*grey*/
    --color5: #ffffff; /*white*/

    /**text     ---- color*/
    --text-color-primary: #191a23; /*dark */
    --text-color-secondary: #ffffff; /*white*/

    --text-h2: clamp(1rem, 0.795rem + 0.568vw, 1.25rem); /** 1280 - 20px 576 - 16 px */

    --h1: clamp(2.688rem, 1.099rem + 3.314vw, 3.75rem); /** 1280 - 60px 767 - 43 px */
    --h2: clamp(2.25rem, 1.876rem + 0.78vw, 2.5rem); /** 1280 - 40px 576 - 36 px */

    --title-color-primary: #000000; /*black */

    /**text     ---- line-height */

    --line-h140: 1.4;
    --line-h150: 1.5;

    /**font */
    --font-family: "Space Grotesk Variable", sans-serif;

    /**background*/
    --bg-primary: #ffffff; /*white*/
    --bg-secondary: #191a23; /*dark */
    --bg-tertiary: #f3f3f3; /*grey*/
    --bg-subsidiary: #b9ff66; /*green*/

    /** hover */

    /** container */
    --container-width: 1440px;
    --container-padding: clamp(1.25rem, -1.997rem + 9.164vw, 6.25rem); /*1440 - 100 567 - 20*/

    --gap-32: 2rem;
}

/** container & section */
.container {
    margin-inline: auto;
    max-width: var(--container-width);
    width: 100%;
    padding: 0 var(--container-padding);
}

.section {
    background-color: cornsilk;
}

.section--margin-top {
    /** 1280 - 140px 576 - 60px */
    margin-top: clamp(3.75rem, -0.341rem + 11.364vw, 8.75rem);
}

.section-box--margin-top {
    /** 1280 - 80px 576 - 30px */
    margin-top: clamp(1.875rem, -0.682rem + 7.102vw, 5rem);
}

/** text */
.h1-title {
    font-weight: 500;
    font-size: var(--h1);
    color: var(--title-color-primary);
    text-wrap: balance;
}

.h1-subtitle {
    font-weight: 400;
    font-size: var(--text-h2);
    color: var(--title-color-primary);
    line-height: var(--line-h140);
}
.h2-heading {
    max-width: 62rem;
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
    row-gap: 1.875rem;
    color: var(--title-color-primary);
}

.h2-title {
    font-weight: 500;
    font-size: var(--h2);
    padding: 0 0.4375rem;
    background-color: var(--bg-subsidiary);
    border-radius: 0.875rem;
    text-transform: capitalize;
    text-wrap: nowrap;
}

.h2-subtitle {
    max-width: 36.25rem;
    text-wrap: balance;
}

@media screen and (max-width: 992px) {
    .h2-heading {
        flex-direction: column;
        text-align: center;
    }
}
@media screen and (max-width: 767px) {
    .h1-title {
        width: 70%;
        min-width: 307px;
    }
    .h1-subtitle {
        line-height: var(--line-h150);
    }
}

@media screen and (max-width: 576px) {
    .h2-title {
        text-wrap: wrap;
    }
}
