---
import Layout from '../layouts/Layout.astro';
import Testimonials from "../components/section/Testimonials.astro";

const page = "Use cases";
---

<Layout titlePage={page}>
<p>Use cases</p>
<Testimonials color={true} showProposalBlock = {true}/>
</Layout>

<style>

</style>