---

---
<footer>
    <div class="container">
<p>Footer</p>
    </div>
</footer>

<style>
    footer{
        background-color: yellow;
        margin-top: clamp(5.625rem, 3.068rem + 7.102vw, 8.75rem); /*1280 - 140 567 - 90*/
    }
</style>
