---
// componets Section
import HeadingH2 from "../blocks/HeadingH2.astro";
import type { SectionProps } from "../../types/SectionProps.ts";
interface Props extends SectionProps {}

const { title, subtitle, sectionName } = Astro.props;
---
<section class:list={[`section-${sectionName}`]}>
    <div class="container">
        <HeadingH2 {title} {subtitle}/>
        <slot/>
    </div>
</section>

