---
import Section from "./Section.astro";
import type { SectionProps } from "../../types/SectionProps";
interface Props extends SectionProps {};

const props = Astro.props;
---

<Section {...props}>
  <!-- КОНТЕНТ СЕКЦІЇ -->
</Section>
