---
import Section from "./Section.astro";
import type { SectionProps } from "../../types/SectionProps";
interface Props extends SectionProps {};

const props = Astro.props;
---

<Section {...props}>
  <!-- КОНТЕНТ СЕКЦІЇ -->
</Section>

<style>
  /** home-services - класс для сторінки services */
  /** різними кольорами покрска */

  /** services - класс для сторінки services */
  /** СІРИМ кольорами покрска */
</style>