---
import Section from "../../section/Section.astro";
import type { SectionProps } from "../../../types/SectionProps.ts";
interface Props extends SectionProps {};
const props = Astro.props;
---

<Section {...props}>
  <!-- КОНТЕНТ СЕКЦІЇ -->
</Section>