---
import "../styles/global.css";
import "@fontsource-variable/space-grotesk";
import Headers from "../components/Headers.astro";
import Footer from "../components/Footer.astro";

interface Props {
  titlePage: string;
}

const { titlePage } = Astro.props;
const author = "Web developer by Sopun Yuriy";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content={author} />
    <title>{`${titlePage} | Positivus`}</title>
  </head>
  <body>
    <Headers />
    <main class="main flex-column">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  body {
    font-family: var(--font-family);
    font-style: normal;
    line-height: normal;
    
  }

  .main {
    /** 1280 - 140px 576 - 60px */
    row-gap: clamp(3.75rem, -0.341rem + 11.364vw, 8.75rem);
  }
</style>
